<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link rel="stylesheet" href="../static/css/profile_style.css" />
  </head>
  <body>
    <strong>What do you like to do?</strong>

    <ol class="alternating-colors">
      <li>
        <strong><a href="/ner">Named Entity Recognition</a> </strong>
      </li>
      <br />
      <li>
        <strong><a href="#">Sentiment Analysis</a></strong>
      </li>
      <br />
      <li>
        <strong><a href="#">Abuse Detection</a></strong>
      </li>
    </ol>
  </body>
</html>
